<li class="result">
  <% if result["Poster"] != 'N/A' %>
    <%= image_tag(result["Poster"], alt: "Movie Poster for #{result["Title"]}") %>
  <% else %>
    <p>Image not found</p>
  <% end %>
  <ul class="movie-details">
    <li class="detail">
      <div class="detail-category">Title:</div>
      <div><%= link_to(result["Title"], result["imdb_page"]) %></div>
    </li>
    <li class="detail">
      <div class="detail-category">Year:</div>
      <div><%= result["Year"] %></div>
    </li>
    <li class="detail">
      <div class="detail-category">Runtime:</div>
      <div><%= result["Runtime"] %></div>
    </li>

  </ul>
</li>
<hr>
