
<div class="container">
  <div class="credits">
    <div class="github-logo">
      <%= link_to(image_tag("GitHub-Mark-32px.png"), "https://github.com/joe-mccann-dev/movie-finder")%>
    </div>
    <div class="myself">
      <a href="https://joe-mccann.dev">&copy; 2022 Joe McCann</a>
    </div>
  </div>
  <h1>MovieFinder</h1>
  <div class="form">
    <%= render 'form' %>
  </div>


  <ul class="results">
    <%= render partial: 'result', collection: @movies %>
  </ul>
</div>

