
<div class="container">
  <h1>MovieFinder</h1>
  <div class="form">
    <%= render 'form' %>
  </div>


  <ul class="results">
    <%= render partial: 'result', collection: @movies %>
  </ul>
</div>

