/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

 html {
  box-sizing: border-box;
  background-color: #262626;
 }

 ul {
  padding: 0;
  margin: 0;
 }

 body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  padding: 12px;
  width: 100%;
  color: #262626;
 }

 .credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .github-logo {
  color: #22d3ee;
 }

 .github-logo:hover {
  transform: rotate(-360deg);
  transition: .4s;
 }

 .container {
  padding: 48px;
  border: solid #fbbf24 4px;
  border-radius: 12px;
  background-color: #d4d4d4;
 }

 .form {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  width: 100%;
 }

 input {
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 8px;
 }

 input[type="text"] {
  height: 24px;
  width: 300px;
  font-size: 1.2rem;
 }

 input[type="submit"] {
  font-weight: 700;
  flex: 1;
  width: 220px;
  max-width: 240px;
  background-color: #22d3ee;
  cursor: pointer;
 }

 .field {
  display: flex;
  flex-direction: column;
  gap: 4px;
 }

 label {
  font-size: 1.2rem;
 }

 .result {
  display: flex;
  align-items: center;
  padding: 16px 0;
 }

 .movie-details {
  margin-left: 32px;
  max-width: 400px;
  text-align: justify;
 }

 .detail {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 4px 0;
 }

 .detail-category {
  font-weight: 700;
  font-size: 1.1rem;
 }

 a {
  text-decoration: none;
  color: #0891b2;
 }
 
 .error {
  color: #eee;
  background-color: orangered;
  padding: 12px;
  font-weight: 700;
 }
